.atkinson-hyperlegible-regular {
  font-family: "Atkinson Hyperlegible", serif;
  font-weight: 400;
  font-style: normal;
}

.atkinson-hyperlegible-bold {
  font-family: "Atkinson Hyperlegible", serif;
  font-weight: 700;
  font-style: normal;
}

.atkinson-hyperlegible-regular-italic {
  font-family: "Atkinson Hyperlegible", serif;
  font-weight: 400;
  font-style: italic;
}

.atkinson-hyperlegible-bold-italic {
  font-family: "Atkinson Hyperlegible", serif;
  font-weight: 700;
  font-style: italic;
}


body {
    background-color: #222;
    color: #eee;
    font-family: "Atkinson Hyperlegible", serif;
}

.a-input {
  width: 1.5em;
  font-size: 24px;
  text-align: center;
}

#main {
  margin: 0 auto;
  width: 50%;
  padding-top: 15em;
}

#answer-ui {
 display: flex;
 flex-direction: column;
 align-items: center;
}

#questions-ui {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.type-button {
  font-size: 18px;
  width: 100px;
  margin-left: 5px;
  margin-right: 5px;
}

#settings-ui {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 24px;
}

#modes-ui {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#roots-ui {
  width: 100%;
  display: flex;
  flex-direction: column;
}

 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 
